html {
  height: 100%;
}

body::after {
  background: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  content: "";
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'Lato', sans-serif;
  padding-bottom: 2rem;
}
h1 {
  font-weight: 700;
  font-size: 5em;
  border-bottom: 1px solid darkgoldenrod;
  text-shadow:    0px 4px 3px rgba(0, 0, 0, 0.4),
                  0px 8px 13px rgba(0, 0, 0, 0.1),
                  0px 18px 23px rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
}
.jumbotron {
  background: #ECF0F1;
  opacity: 0.9;
}